<div class="projects-list">
  <div class="new-project"></div>
  <%= render @projects %>
  <%= link_to '<i class="glyphicon glyphicon-plus"><b> Add TODO List</b></i>'.html_safe, new_project_path, :class => "btn btn-primary", remote: true %>
</div>
